# Node
node_modules/
.env
.env.*

# Build output
frontend/build/
backend/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Misc
*.log
*.pid
*.seed
*.tgz

# Coverage
coverage/

# Local database
*.local

# Others
*.swp
*.swo

# Ignore .keep files (used to preserve empty dirs)
!.keep
